/* General specifications website*/
body{
    font-family: 'Kanit', sans-serif;
    margin: 0px;
    background-color: #F4F6F9;
    font-size: 13px;
}

/* General heading styling */
h1, h2, h3, h4, h5{
    font-family: montserrat;
    margin: 7px 0px 7px 0px;
}

/* Paragraph styling */
p{
    margin: 7px 0px 7px 0px;
}

/* Header website */
header{
    width: 100%;
    background-color: black;
    height: 80px;
}

/* Logo SpaceX */
.logo{
    max-width: 200px;
    padding: 10px 10px 10px 10px;
}

/* Styling section, centering, top */
section{
    margin: auto;
    top: 30px;
    position: relative;
    left: auto;
    right: auto;  
    padding: 10px;  
}

/* Items backgrounds and other specifications */
.card{
    margin: 10px 0px 10px 0px;
    padding: 10px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-width: 240px;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background:#fff;
    -moz-box-shadow:0 2px 5px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.25);
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.25)
}

/* Time/month box specificaties */
.date{
    top: -72px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 300px;
    z-index:1;
    position: absolute;
}

/* Position items */
.date-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Vertical line */
.vl{
  border-left: 1.5px solid rgb(189, 189, 189);
  z-index: 2;
  position: relative;
  margin: 0px 10px 0px 10px;
  height: 35px;
}

/* Progress bar base */
.progress-bar {
    position: relative;
    width: 100%;
    height: 1.15em;
    background-color: #E9ECEF;
    border-radius: 1.5em;
    color: white;
}

/* Progress bar color bar */
.progress-bar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: #069;
    border-radius: 1em;
}

/* Color progressbar food */
.food::before{
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Color progressbar water */
.water::before{
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Color progressbar Fuel */
.fuel::before{
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/***************************
Timeline
***************************/
  @media (min-width:240px){    
span {
  font-size: 1.1em;
  font-weight: 300;
  display: block;
  text-align: center;
}

/* Timeline line */
.timeline ul{
  padding: 1px 0px 0px 1px;
  margin: 0;
  list-style: none;
  position: relative;
}

.timeline ul::before {
  content: ' ';
  height: 100%;
  width: 0.2em;
  background-color: rgb(199, 199, 199);
  position: absolute;
  top: 0;
  left: 0.5em;
  z-index: 1;
}

li div{
  display: inline-block;
  margin: 1em 0;
  vertical-align: top;
}

/* Cirkel(s) timeline */
.bullet {
  position: relative;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  border-radius: 50%;
  background: white;
  z-index: 2;
  margin-right: 1em;
  border:2px solid #ff0000;
}

/* Finishes event */
.finished-bullet{
  border: 2px solid green;
}

/* style time information */
.time {
  width: 20%;
  font-size: 0.75em;
  padding-top: 0.25em;
}

/* Style heading information */
.shedule h4 {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
}

/* Style heading information */
.shedule h5 {
  margin: 0;
  font-size: 0.7em;
  font-weight: 400;
  color: grey;
}

}


/***************************
TABLET SIZE 
***************************/
@media (min-width:600px){
    
    .container-progress{
        display: flex;
        flex-wrap: wrap;
    }
  
    .progress-card{
        max-width: 206px;
        margin-right:10px;
    }
    .speed-card{
        max-width: 206px;
    }
}

/* Query for Time/Month card */
@media (min-width: 767px){
  header{
    height: 50px;
}

  section{
        top: 30px;
    }
    .date{
        left: initial;
        margin: 10px;
        top: -29px;
    }
}

/***************************
SMALL DESKTOP SIZE
***************************/
@media (min-width: 1028px){
    /* Logo does not go al the way left for big screen users */
    nav{
        max-width: 1028px;
        margin: auto;
    }

    /**/
    section{
        max-width: 1028px;
        margin: auto;
    }
  }